<h2>
  <%= I18n.t('authy_register_title', {:scope => 'devise'}) %>
</h2>

<div class="row">
  <div class="col-sm-4">
    <%= verify_authy_form do %>
      <h4>
        <%= I18n.t('submit_token_title', {:scope => 'devise'}) %>
      </h4>

      <div class="form-group">
        <%= label_tag :token %>
        <div class="row">
          <div class= "col-sm-11">
            <%= text_field_tag :token, "", autocomplete: :off, id: 'authy-token', class: 'form-control' %>
          </div>
          <div class= "col-sm-1">
            <%= link_to '?', '#', :id => 'authy-help' %>
          </div>
        </div>
      </div>

      <div class="checkbox">
        <label>
          <%= check_box_tag :remember_device %>
          <span><%= I18n.t('remember_device', {:scope => 'devise'}) %></span>
        </label>
      </div>

      <%= submit_tag I18n.t('submit_token', {:scope => 'devise'}), :class => 'btn btn-primary' %>
      <%= authy_request_sms_link %>
    <% end %>
  </div>
</div>

